*{
    margin: 0;
    padding:0;            
    box-sizing: border-box;
}
body{
    margin: 0;
    padding:0; 
    width: 100%;       
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}   

a{
    text-decoration:none;
    color: #0065fc;
}
li{
    list-style-type: none;
}

/*******
header******/  
header{
    width: 100%;
    justify-self: center;       
    display: flex;
    flex-direction: column;       
    align-content:space-between ;
    align-items: flex-start;
   
}
/*********
nav******/

nav { 
    width: 100%;  
    padding-top: 20px; 
    padding-left: 20px;
    display: flex;
    flex-direction: row;    
    align-items: center;
    
}

#img_logo{
    width: 80px;
    height: 50px;
}

#logo:nth-child(1){
    flex: 6;
    order: 1;    
} 

#two_nav:nth-child(3) { 
    
    order: 2;
    flex: 2;
    display: flex;
    flex-direction: row;
       
}
#nav_sinscrire:nth-child(2){ 
    padding-left: 0px;
    order: 3;
    flex: 1;
} 
#nav_hebergement{
    margin-right: 20px;
    flex: 1;
}
#nav_activites{
    padding-right: 0;
    flex: 1;
    
    
    

}
#nav_activa:hover, #nav_heberg:hover{
    padding: 20px 20px 0 20px;    
    border-top: 3px solid #0065fc;
    color: #0065FC;
}
#nav_activa, #nav_heberg{
    color: black;
    
}
/************bar de recherhe******************/
form{
    padding-left: 20px;
    margin-bottom: 10px;
    width: 100%
}
h1{
    margin:20px 0 5px 0 ;
    padding-left: 20px;
    font-size: 24px;
    font-weight: bold;
}
form p{
    margin: 10px 0 10px 0;
    color: grey;
    font-size: 17px;
}
#input_button{
    width: 100%;
    height: 45px;
    margin:20px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
input{
    width: 200px;
    color: black;
    font-weight: 400;
    padding-left: 15px;
    border:none;
    outline: none;
    text-align: justify;
    
}
::placeholder{
    letter-spacing: 1px;
    font-size: 13px;
    color:black;
    font-weight:700;
}
#recherche{
    visibility: visible;
    width: 110px;    
    padding: 13px;
    letter-spacing: 1px;
    font-weight: 500;
    border:none;
    outline: none;
    background-color: #0065FC;
    color: white;
    text-align: center;
    border-radius: 0 15px 15px 0;
}
#recherche_loup{
    visibility: collapse;
}
.loup{
    font-size: 0;
}
.fa-map-marker-alt{ 
    width: 50px;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
    padding:13px;
    text-align: center;
    color: black;
    background-color: #f2f2f2;
}
/***************les filtre*********/
#filtres{
   
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#filtres a {
    font-size: 13px;
    margin: 15px;
    font-weight: 700;
    text-transform: capitalize;
    color: black;
}
#filtres li{
    border: 1px solid gainsboro;
    border-radius: 4em;
    margin-right: 20px;
}
#filtres li:hover{
    background-color:#0065fc;
}
#sp_filt{
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
    color: black;
    margin-right: 30px;
    
}
#block_form{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    border: 1px solid #f2f2f2;
    border-radius: 4em ;
     padding:10px;
     color: #0065FC;
     background-color: #DEEBFF;
     text-align: center;
}
.fa-info{
    font-size: 10px;
    border: 1px solid #f2f2f2;
    border-radius: 4em ;
    padding:10px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    color: #0065FC;
    background-color: #f2f2f2;
} 
#propos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/***********contener  main de deus section hébergement et populaire*******/
main{
    width: 100%;          
    display: flex;
    flex-direction: row;    
    justify-content:space-around;        
}
.etoile-bleu { 
    color:#0065FC;
    font-size: 14px;
}
.etoile-gris{
    color: grey;
     font-size: 14px;
}
.carte_hebergement:hover{ 
    z-index:1;
    transform: scale(1.1);
    transition: 0.3s;
}
.carte_populaire:hover{ 
    z-index:1;
    transform: scale(1.1);
    transition: 0.3s;
}
.carte_activites:hover{ 
    z-index:1;
    transform: scale(1.1);
    transition: 0.3s;
}
.carte2_activites:hover{ 
    z-index:1;
    transform: scale(1.1);
    transition: 0.3s;
}
/***********************section hebergement*********/
#Hebergement{
    padding:  20px;   
    background-color:#f2f2f2;
    width: 65%;    
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    align-content:space-around;
} 
#contener_hebergement{     
    padding:  10px 0 10px 0;          
    border-radius: 2em;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;   
}
h2{
    padding-left: 20px;
    margin-top: 20px;
}
.carte_hebergement{    
    width: 30%;
    height: 290px;
    padding: 5px;
    margin: 10px 10px 30px 10px;
    background-color: snow;
    box-shadow: 1px 1px 1px 1px rgb(77, 72, 72);
    border-radius: 20px 20px 20px 20px ;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.img_hebergement{
    width: 100%; 
    height: 180px;
    object-fit: cover;
    background-color: snow;
    border-radius: 20px 20px 0px 0px ;
    align-self: flex-start;
}
.dessous_hebergement{
    justify-self:flex-end;
    height: 100px;
    margin-left: 15px;
}
.dessous_hebergement .nom_prix{ 
    height:60px;
    margin-left:4px;
    margin: 0;
    padding: 0;
}
h3{ 
    margin: 4px 4px 6px 0;
}
.dessous_hebergement p{
    margin: 8px 6px 0 0;
}
#Hebergement .star{ 
     padding-top: 0;
}
#afficher{
    margin:20px;
}
#afficher a {
    font-weight: 700;
    color:black;
}
/******************sectionpopulaire******************/
#populaire{   
    background-color: #f2f2f2;
    width: 30%;    
    border-radius: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center;     
}
#tete_populaire{
    width: 80%;     
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#populaire h2{
    align-self: flex-start; 
    padding-left: 5px;
}
.fa-chart-line{
    font-size: 20px;
    font-weight: 700;
     justify-self: flex-end;
}
.carte_populaire{
    width: 80%;
    height: 190px;
    padding:5px; 
    align-self: center;
    background-color:snow;
    justify-self: flex-start;
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 1px 1px 1px 1px rgb(77, 72, 72);
    display: flex;flex-direction: row;
    justify-content:space-evenly;
}
.img_populaire{    
    height: 180px;
    width: 45%;
    object-fit: cover;
    margin-left: 0;
    border-radius: 20px 0 0 20px;
}  
.adroit_populaire{
    width: 50%;
    padding-bottom:5px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

/*****************************section activites*********************/
#Activites{     
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    margin-top: 10px;
}
#contener_activites{
    width: 100%;
    height:450px;
    margin: 10px;     
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
}
#Activites h2{
    align-self: flex-start; 
    padding-left: 30px;
    margin-top: 30px;
}
.carte_activites{
    width: 20%;
    height: 400px;
    padding-bottom: 10px;     
    background-color: snow;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 2px 2px 2px 2px rgb(77, 72, 72);
}
.img_activites{    
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px 20px 0 0 ;
    margin-bottom: 2px;
}
.carte2_activites{
    width: 20%;
    height: 200px;  
    padding-bottom: 10px;
    background-color: snow;
    border-radius: 20px 20px 20px 20px ;
    box-shadow: 1px 1px 1px 1px rgb(77, 72, 72);
}
.img2_activites{
    width: 100%;
    object-fit: cover;
    height: 160px;
    margin-bottom: 2px;
    border-radius: 20px 20px 0 0 ;
}
#Activites h3{    
    padding: 0 10px 10px 20px;
}  
/*****footer****/
footer{
    width: 100%;    
    background-color: #f2f2f2; 
    margin-top: 0;  
    margin-left: 0;    
}
h4{
    margin:0 20px 0 20px;

}
#contener_footer{
    width: 70%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;  
    align-items:center; 
}
.block_footer{
    align-self: flex-start;
}
.fin{
    margin-left: 0;
    padding-left: 0;
}
.pied{
    color:gray;
    margin: 20px  ;
    
}
.fin a{
    color: gray;
}


   
    
/***mediea Query écran ordinateur ****/ 

@media screen and (min-width:992px) and (max-width:1440px){
    
    /*****modification sur section hébergement***/ 
    
    
    .carte_hebergement{
        width: 30%;
        height: 220px;
    }
    .img_hebergement{
        height: 140px;
        width: 100%;
        object-fit: cover; 
        justify-self:flex-end;       
    }
    .dessous_hebergement .nom_prix{ 
        height:40px;              
        margin: 0;
        padding: 0;
    }
    .dessous_hebergement h3{ 
        margin: 6px 4px 6px 0;
        font-size: 14px;
    }
    .dessous_hebergement{
        justify-self:flex-end;
        height: 25%;
        margin-left: 10px;
    }
    .dessous_hebergement p{
        font-size: 14px;
        margin: 8px 6px 6px 0;
    }
    #Hebergement .star{ 
         margin: 5px 6px 2px 0
    }
    .etoile-bleu { 
        color:#0065FC;
         font-size: 12px;
    }
    .etoile-gris{
        color: grey;
        font-size: 12px;
    }
     /*******modification sur section populaire*****/    
    .carte_populaire{
        width: 90%;
        height: 150px;
        padding: 5px;
    }
    #tete_populaire{
        width:85%;
    }
    h2{
        margin-top: 20px;
        font-size: 19px;
    }
    .fa-chart-line{
        font-size: 20px;
        align-self: flex-end;
    }
    .img_populaire{
        width: 48%;
        height: 140px;
        object-fit: cover;        
    }    
    .adroit_populaire  p{
        font-size: 13px;
        
    }
    #populaire  h3{
        font-size:14px;
        
    }
   /*********modification sur section activités******/
    #contener_activites{
        height:400px;
        align-content: space-around;
        padding-left: 10px;
    }
    
    .carte_activites{ 
        width: 22%;
        height: 340px;
        
    }
    .img_activites{
        height: 290px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 2px;
    }
    .carte2_activites{
        width: 22%;
        height: 150px;
    }
    .img2_activites{
        height: 110px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 2px;        
    }
    #Activites h3{
        padding-top: 5px;
        font-size: 13px;
    }     
    #contener_footer{
        width: 80%;
    }
}
/******media Query ecran tablette*****/
@media screen and (min-width:768px) and (max-width: 991px){
    
    
   /*********les nav*******/
   nav { 
       
    max-width:991px;
    padding: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;    
    align-items: center;    
    border-bottom: 3px solid #f2f2f2;
    }

    #logo:nth-child(1) { 
        min-width: 90%;
        order: 1;
    } 
    #two_nav:nth-child(3) { 
        padding-top: 20px;
        order: 3;  
    }
    #nav_sinscrire:nth-child(2){
       
        order: 2;
    } 
    #nav_hebergement{
        margin-right: 5%;
        flex:1;
    }
    #nav_activites{
        flex: 3;
    }
    #nav_activa:hover, #nav_heberg:hover{    
    border-top: none;
    padding: 20px;
    border-bottom: 3px solid #0065fc;
    color: #0065FC;
    }
/*********les filtres*******/
   #block_form{
       flex-direction: column;
       align-items: flex-start;
    }   
   #filtres{
       height: 100px;
       flex-direction:column;
       flex-wrap: wrap; 
       justify-content: space-between;
       padding-left: 0; 
       margin-left: 0;
    }
   #filtres li {
       margin-right: 30px;
    }
   #animaus:nth-child(4){
       order:3; 
    }
   #famillial:nth-child(2){
       order: 4;
    }
   #romantique:nth-child(3){
       order:2;
    }  
    /***********modification main**********/
    h2{
        /*padding-top: 10px;*/
        font-size: 17px;
    }
    .etoile-bleu { 
        color:#0065FC; 
        font-size: 11px;
    }
    .etoile-gris{
        color: grey; 
        font-size: 11px;
    }
    /********modification section hébergement******/
    #Hebergement{   
        background-color:#f2f2f2;
        width: 60%;
    }    
    .carte_hebergement{
        width: 43%;
        height: 210px;
    }
    .img_hebergement{
        height: 120px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 2px;
    }


    #Hebergement .star{ 
        margin: 5px 0px 6px 0;
    }
    .dessous_hebergement p{
        font-size: 13px;
        margin: 8px 0px 6px 0;
    }
    .dessous_hebergement h3{
        font-size: 14px; 
        
    }    
    .dessous_hebergement{
        justify-self:flex-end;
        height: 100px;
        margin: 5px 0 0 10px;
    }
    .dessous_hebergement .nom_prix{ 
        height:40px;
        margin-left:4px;
        margin: 0;
        padding: 0;
    }
    /****************modification section populaire*****/
    #populaire{      
    background-color: #f2f2f2;
    width: 35%;
    align-items:center; 
    align-content:space-between;
    }    
    .carte_populaire{
        width: 85%;
        height: 130px; 
        padding: 5px; 
        margin: 0px 0 50px 0;
    }
    
    .fa-chart-line{
        font-size: 17px;
        align-self: flex-end;
        
    }
    .img_populaire{
        width: 46%;
        height: 120px;
        object-fit: cover;
    }
    .adroit_populaire{
        width: 53%;
        margin-left: 5px;
        padding-left: 0;
        padding: 0px 0 5px 8px;
    }   
    .adroit_populaire  p{
        font-size: 11px;
        margin: 4px 0 4px 0 ;
    }
    .adroit_populaire  h3{
        font-size: 13px;
        margin: 4px 0 4px 0px ;
    }
    /********* modification activités******/
    #contener_activites{
        height:700px; 
        justify-content: space-around;
        align-items: center; 
    }
    #Activites h3{        
        margin-left: 10px; 
        font-size: 17px;
    }
    .carte_activites{
        width: 28%; 
        height: 300px;
    }
    .img_activites{
        height:250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 5px;
    }
    .carte2_activites{ 
        width: 28%; 
        height: 300px;
    }
    .img2_activites{
        height: 250px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 5px;
    }
    #Activites h3{
        font-size: 14px;
        padding-top: 10px;
        margin-left: 10px;
        margin-top: 0;
    }
    /*********modification footer*****************/
    #contener_footer{
        width: 85%;
    }
}
/***********media Query petit ecran****************/

@media screen and (max-width:768px) {   
    header{
        justify-self: center;
    }
    nav { 
        max-width:768px;
        padding: 20px;
        padding-left: 20px;       
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap ;    
        align-items: center;
        justify-self: center;
        
        border-bottom: 3px solid #f2f2f2;
        }
    
        #logo:nth-child(1) { 
            min-width: 70%;
            order: 1;
        } 
        #two_nav:nth-child(3) { 
            padding-top: 20px;
            order: 3;  
        }
        #nav_sinscrire:nth-child(2){
            order: 2;
        } 
        #nav_hebergement{
            margin-right: 30%;
            flex:1;
        }
        #nav_activites{
            flex: 3;
        }
        #nav_activa:hover, #nav_heberg:hover{    
        border-top: none;
        padding: 20px;
        border-bottom: 3px solid #0065fc;
        color: #0065FC;
        }
    /**********modification les filtres***********/
    #input_button{
        justify-self: center;
        width: 95%;        
        border: 2px solid #f2f2f2;
        border-radius: 15px;
    }
    input{
        align-items: center;
        width:100% ;
        color: black;
        font-weight: 400;
        padding-left: 15px;
        text-align: justify;
    }
    #recherche{
        display: none;
        
    }
    .loup{
        font-size:20px;
        visibility: visible;
    }
    #recherche_loup{
        
        visibility: visible; 
        width: 50px;
        font-size: 14px;
        border-radius:15px;
        border:none;
        outline: none;
        padding:10px;               
        color:white;
        background-color: #0065fc;    
    }

    #block_form{
        justify-self: center;
        flex-direction: column;
        align-items: flex-start;
        align-content: space-between;
        
    }  
    #filtres{
        height: 140px;
        flex-direction:column;
        flex-wrap: wrap; 
        align-content: space-between;
        align-self:flex-start; 
        padding-left: 0;
    }
    #filtres li{
        margin-bottom: 5px;
    }
    span{
        align-self: flex-start;
        margin-bottom: 20px;
    }
    #animaus:nth-child(4){
        order:3; 
        
    }
    #famillial:nth-child(2){
        order: 4;
        margin-left: 0;
        padding-left: 0;
    }
    #romantique:nth-child(3){
        order:2;
        margin-left: 0;
    }  
    
 
    /*********modification main************/
    main{ 
        width: 100%;  
        display: flex;
        flex-direction: column; 
        align-content: space-around;  
        align-items: center;
    }
    #populaire:nth-child(2){
        order: 1;
    }
    #Hebergement:nth-child(1){
        order:2;
    } 
    
    /*****modification section hébergement********/
    #Hebergement{ 
        
        width: 100%;
        background-color: white;  
    }
    #contener_hebergement{
        width: 100%; 
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .carte_hebergement{
        width: 80%;
        height:200px;
        margin-bottom: 10px;
    }
    .img_hebergement{
        height:110px;
        width: 100%;
        object-fit: cover;
    }
/*****modification section populair********/

    #populaire{
        
        padding: 0;  
        width: 100%;        
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 0;
    } 
    .carte_populaire{
        align-self: center;
        width: 80%;
        height: 160px;
        padding: 5px;
        margin-bottom: 25px;
    }
    .img_populaire{
        width: 50%;
        height: 150px;
        object-fit: cover;       
        margin-left: 0;
    }
    #tete_populaire{
        width:80%; 
        margin: 20px 0 30px 0; 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    } 
    
    .adroit_populaire  p{
        font-size: 14px;
        
    }
    .adroit_populaire  h3{        
        font-size: 15px;
        
    }

/*****modification section activites********/
    #Activites h2{     
    
    margin: 20px 0 20px 0;
    }
    #Activites h3{
        margin:  5px 0 20px 5px ;
    }
    #contener_activites{
        width: 100%;
        height: auto; 
        display: flex; 
        flex-direction: column; 
        align-items: center;
        justify-content:space-around;
    }
    #Activites{
        display: flex; 
        flex-direction: column; 
        justify-content: space-between;
        
    }
    .carte_activites{
        width: 80%;
        height:180px;
        margin-bottom: 30px;
    } 
    .img_activites{
        width: 100%; 
        height:140px;
        object-fit:cover;
        margin-bottom: 0;
    }
    .carte2_activites{
        width: 80%;
        height:180px;
        margin-bottom: 30px;
    }
    .img2_activites{
        width: 100%;
        height:140px;
        object-fit: cover;
    }
    
    .etoile-bleu { 
        color:#0065FC; 
        font-size: 12px;
        font-weight: 800;
        padding: 0;
    }
    .etoile-gris{
        color: grey; 
        font-size: 12px;
    }
    /*****modification footeur********/
    footer{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    #contener_footer{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }
    .block_footer{
        margin: 10px;
    }
    h4{
        margin:0 0 20px  20px;
        font-size: 18px;
    
    }
}

    







































